# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# dependencies
node_modules/

# dotenv environment variables file
.env

# build output
dist
build
bundle

# cached files
.cache
